PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

DATABASE_URL="sqlserver://localhost:1433;database=MediFastV3_RDA3;user=USUARIO;password=PASSWORD;encrypt=false;trustServerCertificate=true"

JWT_SECRET=CAMBIAR_ESTE_SECRETO
JWT_EXPIRES_IN=1h

